/*Variables*/
$color-primary: #3046c5;
$color-secondary: #5637dd;
$color-pale: #cec8ff;
$color-mid: #901cad;
$color-dark: #60106b;
$color-transparent-black: rgba(0, 0, 0, 0.5);
$color-blue: cornflowerblue;
//
$color-tiel: #17a2b8;

body {
  font-family: "Open sans", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Lobster", cursive;
}

h2 {
  color: $color-primary;
}

/*Nested*/
header {
  h2 {
    color: $color-pale;
  }
  /*
  p {
    color: $color-blue;
  }
  */
}

.site-footer {
  background-image: linear-gradient(#b7a8f8, white);
  padding: 20px 0px;
}

.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(
    to right,
    $color-secondary,
    $color-primary,
    $color-dark
  );
  color: white;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.navbar {
  background-color: $color-mid;
}

.tab-content {
  border: 1px solid #ddd;
  border-top: none;
  padding: 10px;
}

/*Adding classes for carousel*/
.carousel-caption {
  background-color: $color-transparent-black;
}

.carousel {
  border: solid $color-secondary;
}

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
}

//Task 3 week 4
#reserveModal {
  .modal-header {
    background-color: $color-tiel;
    color: white;
  }
}

#loginModal {
  .modal-header {
    background-color: $color-mid;
    color: white;
  }
}
